.manager {
    background-color: lightgreen;
    color: black;
}

.notManager {
    background-color: lightcoral;
}

.yourTeam {
    background-color: lightgreen;
}

.opponentTeam {
    background-color: lightpink;
}